@import "tailwindcss";
@import "tw-animate-css";
@import "@hoardodile/ui/theme.css";

#root {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

html,
body {
	height: 100%;
}
